<li id="ruby">
  <%= link_to ruby_projects_path do %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Find a hobby buddy
  <% end %>
</li>

<li id="sinatra">
  <%= link_to sinatra_projects_path do %>
    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Find a study buddy
  <% end %>
</li>

<li id="rails">
  <%= link_to rails_projects_path do %>
    <i class="fa fa-users" aria-hidden="true"></i> Find a team member
  <% end %>
</li>

<li id="javascript">
  <%= link_to javascript_projects_path do %>
    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Javascript
  <% end %>
</li>

<li id="react">
  <%= link_to react_projects_path do %>
    <i class="fa fa-users" aria-hidden="true"></i> React
  <% end %>
</li>