<li class="mobile-menu">
  <ul>
    <li>
      <%= link_to ruby_projects_path do %>
        <i class="fa fa-user-circle-o" aria-hidden="true"></i> Find a hobby buddy
      <% end %>
    </li>
    <li>
      <%= link_to sinatra_projects_path do %>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i> Find a study buddy
      <% end %>
    </li>
    <li>
      <%= link_to rails_projects_path do %>
        <i class="fa fa-users" aria-hidden="true"></i> Find a team member
      <% end %>
    </li>    
    <li>
      <%= link_to javascript_projects_path do %>
        <i class="fa fa-users" aria-hidden="true"></i> Find a team member
      <% end %>
    </li>
    <li>
      <%= link_to react_project_path, class: 'messenger-link' do %>
        <i class="fa fa-envelope" aria-hidden="true"></i> Messages
      <% end %>
    </li>
  </ul>
</li>