<div id="single-project-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="posted-by">Posted by <%= @project.user.name %></div>
      <h3><%= @project.title %></h3>
      <p><%= @project.description %></p>
      <%if current_user%>
      <%= render partial: 'comments/form' %>
      <%end%>
      <h3>Comments (<%= @project.comments.size %>)</h3>
      <%= render partial: 'projects/comment', collection: @project.comments.reverse %>
    </div>
  </div>
</div>
<%=console%>