<div id="single-project-content" class="container">
  <div class="row">
  <br>
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-info panel-body">
      <div class="page-name" >
        <h2><%= @project.title %></h2>
        <h4><%= @flatiron_module.name%></h4>
      </div>
      <div class="posted-by">
      Developed by: <%= @project.user.name %>
      </div>
      <div class="project-text">
        <%= @project.description %>
        <p><%=@project.github%>
           <br>
           <%=@project.youtube%>
        </p>
      </div></div>
      <%if current_user %>
        <%= render partial: 'comments/form' %>
      <%end%>
      <div class="page-name">
        <h3>Comments (<%= @project.comments.size %>)</h3>
      </div>
      <%= render partial: 'projects/comment', collection: @project.comments.reverse %>
    </div>
  </div>
</div>
