<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PortfolioDB</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Biryani:200,400&display=swap">
    <% if !Rails.env.test? %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Biryani:200,400&display=swap">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<%= render 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>